@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap'); 
@import "tailwindcss";


@theme {
    --color-background: #F0F1F2;
    --color-Foreground: #34393D;
    --color-destructive: #C9555A;
    --color-destructiveForeground: #F0F1F2;

    --color-bgPrimary: #f7f9fa;


    --color-bgMesprojet: #e8eaeb;
    --color-bdApropos: #F1F2F3;


    --color-primary: #41494F;
    --color-primaryForeground: #F0F1F2;
    --color-secondary: #D5D8DB;
    --color-secondaryForeground: #34393D;
    --color-accent: #4D9FA3;
    --color-accentForeground: #F0F1F2;
    --color-muted: #DADDE0;
    --color-mutedForeground: #6D7378;

    --color-card: #F7F9FA;
    --color-cardForeground: #34393D;
    --color-popover: #edeeef;
    --color-popoverForeground: #34393D;

    --color-border: #D5D8DB;
    --color-input: #D5D8DB;
    --color-ring: #4D9FA3;
}

@theme{
    --font-sans: "Geist", sans-serif;
}

@theme{
    --breakpoint-tablette: 700px;
    --breakpoint-desktop: 900px;
}

@layer components{
    body{
        @apply bg-popover font-sans
    }

    .nav-bar{
        @apply flex justify-between p-4 bg-popover/95 text-primary font-medium left-0 w-full shadow
    }
    .header-profil{
        @apply w-60 h-60 rounded-full object-cover
    }
    .primary-center{
        @apply grid place-content-center 
    }
    .btn-primary{
        @apply p-3 pr-6 pl-6 text-lg rounded-xl border-1
    }
}


html {
  scroll-behavior: smooth;
}
.nav-bar__title{
    transition: transform 300ms ease-in-out, color 200ms 150ms ease-in-out;
}
.nav-bar__title:hover{
    transform: scale(1.1);
    color: #4c9ea2;
}

.nav-bar__link{
    transition: transform 200ms ease-in-out, color 200ms ease-in-out;
}

.nav-bar__link:hover{
    transform: scale(1.1);
    color: #41494F;
}

/* .degrader-carde{
    transition: transform all 200ms ease-in-out;
}

.degrader-carde:hover{
    transform: scale(1.1);
    background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
}  */

.star-canvas {
  position: fixed;
  inset: 0;
  z-index: 0;
}